<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-button shape="round" fill="clear"  (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -37px">View Image</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div>
    <img [src]="viewImage" style="height: 40vh; display: flex; margin: auto;" />
  </div>

</ion-content>
