<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mark Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="shape" *ngIf="captureImg">
      <div id="oval"></div>
      <img *ngIf="captureImg" style="height: 100%;"
        [src]="clickedimageSrc" />
    </div>
      <ion-skeleton-text  *ngIf="!captureImg" animated style="width: 100%; height: 90%;"></ion-skeleton-text>

</ion-content>

<ion-footer *ngIf="!captureImg">
  <div  >
    <ion-button expand="block" color="secondary" (click)="capturePhoto()">Click
      to Capture Face</ion-button>
  </div>
</ion-footer>
