<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mark Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="shape" *ngIf="captureImg">
      <div id="oval"></div>
      <img *ngIf="captureImg" style="height: 100%;"
        [src]="clickedimageSrc" />
    </div>
    <div style="margin-top: 2%; display: flex;
      justify-content: center;" *ngIf="captureImg">
      <ion-button (click)="capturePhoto()">Click to Capture Face</ion-button>
    </div>  
</ion-content>
