<ion-header class="">
  <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="shape" *ngIf="captureImg">
      <div id="oval"></div>
      <img *ngIf="captureImg" style="height: 100%;"
        [src]="clickedimageSrc" />
    </div>
    <div style="margin-top: 2%; display: flex;
      justify-content: center;" *ngIf="captureImg">
      <ion-button (click)="capturePhoto()">Click to Capture Face</ion-button>
    </div>
   

  
</ion-content>

<ion-footer class="animate__animated animate__fadeInUp ion-padding">
    <div *ngIf="!cameraActive">
    <ion-row>
      <ion-col size="6">
        <ion-button color="danger"  expand="block" (click)="deleteImage()"> Delete
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" *ngIf="captureImg" (click)="capturePhoto()"> Re Capture
        </ion-button>
         <ion-button expand="block" color="secondary" *ngIf="!captureImg" (click)="capturePhoto()"> Capture
        </ion-button>
      </ion-col>
    </ion-row>


 </div>
  <!-- </ion-toolbar> -->
</ion-footer>
