<ion-header class="">
  <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div id="cameraPreview" class="cameraPreview">

    <ion-row style="position: absolute; z-index: 1; bottom: 5%; width: 90%;" *ngIf="cameraActive">
      <ion-col size="6">
        <ion-button color="danger"  expand="block" (click)="stopCamera()"> Cancel
          <!-- <ion-icon name="close-circle" slot="icon-only"></ion-icon> -->
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" (click)="captureImage()"> Capture
          <!-- <ion-icon name="camera" slot="icon-only"></ion-icon> -->
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
 

<ion-img [src]="image" *ngIf="image && !cameraActive" style="height: 100%;"></ion-img>
<!-- <ion-button  expand="full" *ngIf="!cameraActive">Open Camera</ion-button> -->

 
    <!-- <div class="shape" *ngIf="captureImg">
      <div id="oval"></div>
      <img *ngIf="captureImg" style="height: 100%;"
        [src]="clickedimageSrc" />
    </div>
    <div style="margin-top: 2%; display: flex;
      justify-content: center;">
      <ion-button (click)="clickToRecgonise()">Recognise Face</ion-button>
    </div> -->
   

  
</ion-content>

<ion-footer class="animate__animated animate__fadeInUp ion-padding">
  <!-- <ion-toolbar> -->
    <!-- <div *ngIf="cameraActive">
      <ion-row>
        <ion-col size="6">
          <ion-button color="danger"  expand="block" (click)="stopCamera()"> Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="secondary" (click)="captureImage()"> Capture
          </ion-button>
        </ion-col>
      </ion-row>


   </div> -->

   <div *ngIf="!cameraActive">
    <!-- <img [src]="image" *ngIf="image" style="height: 100%;"> -->

    <ion-row>
      <ion-col size="6">
        <ion-button color="danger"  expand="block" (click)="deleteImage()"> Delete
          <!-- <ion-icon name="close-circle" slot="icon-only"></ion-icon> -->
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" (click)="captureImage()"> Re Take
          <!-- <ion-icon name="camera" slot="icon-only"></ion-icon> -->
        </ion-button>
      </ion-col>
    </ion-row>


 </div>
  <!-- </ion-toolbar> -->
</ion-footer>
