<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>

    <ion-title>Face Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none">
    <ion-label>
      <ion-icon style="color: #9ca3af; font-size: 21px;margin-right: 9px"
        aria-hidden="true" name="lock-closed-outline"></ion-icon>
    </ion-label>

    <ion-select>
      <ion-select label="Outline select" label-placement="floating"
        fill="outline">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-select>


  </ion-item>

</ion-content>
