<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>

    <ion-title>Face Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-item lines="none"> -->
  <ion-select label="Department" [(ngModel)]="department" class="animate__animated animate__fadeInUp" label-placement="floating"
    fill="outline" (ionChange)="getEmployeesData($event)">
    <ion-select-option *ngFor="let c of deptList"
      [value]="c.deptCode">{{c.deptName}}</ion-select-option>
  </ion-select>

  <!-- <ion-select label="Employee" class="ion-margin-top animate__animated animate__fadeInUp" label-placement="floating"
    fill="outline" (ionChange)="changeInEmp($event)">
    <ion-select-option *ngFor="let c of empList"
      [value]="c.employeeCode">{{c.employeeName}}
      - [{{c.employeeCode}}]</ion-select-option>
  </ion-select> -->

  <ion-item style="border: 1px solid #b3b3b3;
  width: 99%;
  border-radius: 4px;" class="animate__animated animate__fadeInUp ion-margin-top" lines="none" (click)="openModal()" [button]="true" [detail]="false"
  id="select-employee">
  <ion-label> {{ selectedEmployee?.employeeName &&
    selectedEmployee?.employeeCode
    ? (selectedEmployee.employeeName + ' (' + selectedEmployee.employeeCode +
    ')')
    : 'Select Employee' }}
  </ion-label>
  <!-- <div slot="end" id="selected-employee">{{ selectedEmployeeText }}</div> -->
</ion-item>
 



  <div class="ion-margin-top animate__animated animate__fadeInUp"  (click)="capturePhoto()">
    <img src="../../assets/Auth.svg" style="display: flex; margin: auto;" alt="employee image" *ngIf="!captureImg">

    <img *ngIf="captureImg" style="height: 40vh; display: flex; margin: auto;"
      [src]="imageSrc" />
  </div>

  <ion-row class="ion-margin-top animate__animated animate__fadeInUp">
    <ion-col>
      <ion-button (click)="clear()" color="danger" expand="block" size="6" [disabled]="!captureImg" >Clear</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="capturePhoto()" color="secondary" expand="block" size="6" *ngIf="captureImg">Re Capture</ion-button>
      <ion-button (click)="capturePhoto()" color="secondary" expand="block" size="6" *ngIf="!captureImg">Capture</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="animate__animated animate__fadeInUp ion-padding">
  <ion-button class="ion-margin-top" type="submit" expand="block" size="large"
    color="secondary" (click)="submit()" >
    Submit
  </ion-button>
</ion-footer>