<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>

    <ion-title>All Employees</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar (keyup)="updateFilter($event)"   placeholder="Search by employee name & code"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let emp of employeeFingerData" >
      <ion-avatar slot="start" (click)="viewImage(emp.image)">
        <img src="{{emp.image}}">
      </ion-avatar>
      <ion-label>
        <h2>{{emp.employeeName}}</h2>
        <p>{{emp.employeeCode}}</p>
      </ion-label>
      <ion-icon slot="end" (click)="confirm(emp)" color="danger" name="trash"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-lg="4" size-md="6" size-xs="6" *ngFor="let c of employeeFingerData">
        <ion-card>
          <img [src]="c.image" />
          <ion-card-header>
            <ion-card-subtitle>{{c.employeeName}}</ion-card-subtitle>
            <ion-card-title>{{c.employeeCode}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>







<!-- <ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <ion-icon name="logo-ionic" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Ionic Start Theme</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Latest Ionic version starter theme. Experiencing the best of new features to start your project.</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="logo-capacitor" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Capacitor Ready</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio mollitia sed sint quod, repellendus illum ex, doloribus, quis ipsam officiis hic saepe commodi? Ab porro laboriosam totam iure et.</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="stats-chart" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Components Sample</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio mollitia sed sint quod, repellendus illum ex, doloribus, quis ipsam officiis hic saepe commodi? Ab porro laboriosam totam iure et.</ion-text>
      </p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="nextSlide()" *ngIf="!last_slide">
    Next
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()" *ngIf="last_slide">
    Get started
  </ion-button>
</ion-footer> -->
